*{
    margin: 0px;
    padding: 0;
}
.img-propia{
    vertical-align: middle;
    border-style: none;
}
.link-propio{
    color: black;
}
.link-propio:hover{
    color: #A66CFF;
}
.nav-propia{
    background-color: white;
 }
.nombre-propio{
    font-size: 36px;
}
.card-propio{
    background-color: #B1E1FF;
}
.primerparrafo{
    text-align: center;
}
.segundoparrafo{
    text-align: center;
}
main h1{
    text-align: center;
}
